.shopping-cart-items {
  color: white;
  width: 100%;
  max-width: 700px;
  display: grid;
  gap: 1em;
}

.checkout-games-container {
  color: white;
  background: #414141;
  padding: 1em;
  display: grid;
  gap: 1em;
  font-size: 1em;
  width: 100%;
}

.checkout-game-card {
  display: flex;
  gap: 1em;
  align-items: center;
  background-color: #232323;
  padding: 0.5em;
}

.checkout-img-container {
  max-width: 150px;
  aspect-ratio: 3 / 2;
}

.checkout-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.checkout-game-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.amount-of-game {
  max-width: 50px;
}

.shipment-payment-container {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.payment-container,
.shipping-container {
  width: 100%;
  max-width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #414141;
  border-radius: 4px;
  padding: 1em;
  color: var(--primary-text-color);
}

.payment-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 1em;
}

.payment-form,
.shipment-form {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}
.form-input-container {
  margin: 0.5em 0em;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);
}

.form-input-container input {
  height: 2em;
}

.divider {
  height: 2px;
  width: 100%;
  background-color: var(--primary-color);
}

.summery {
  display: flex;
  justify-content: space-between;
}

.total-amount {
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 70%;
  margin-bottom: 1em;
}

.payment-button {
  background-color: gray;
}

@media screen and (min-width: 300px) {
  .checkout-info {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .checkout-img-container {
    max-width: 300px;
  }

  .checkout-grid-container {
    width: 600px;
  }

  .checkout-info {
    flex-direction: row;
  }
}
@media screen and (min-width: 772px) {
  .shipment-payment-container {
    flex-direction: row;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .section-container {
    width: 1100px;
    display: flex;
    justify-content: space-around;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .progress-bar,
  #header {
    align-self: center;
  }
}
