.contact-container {
  background-color: #414141;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 350px;
  gap: 2em;
}

#contact-form {
  width: 100%;
  display: grid;
  gap: 2em;
}

form input,
form textarea {
  font-size: 16px;
  padding: 0px;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 40px;
  padding: 3px;
}

form label {
  color: var(--primary-text-color);
  font-weight: 400;
}

.form-last-first-name {
  display: flex;
  gap: 0.5em;
}

.form-last-first-name input {
  width: 100%;
}

.form-first-name,
.form-last-name,
.form-email,
.contact-message {
  display: flex;
  flex-direction: column;
}
