.content-header {
  font-family: "Roboto", serif;
  color: var(--primary-text-color);
}

.section-header {
  width: 250px;
  max-width: 400px;
  color: var(--primary-text-color);
  margin-top: 2em;
  padding: 3px;
}

.login-container {
  display: grid;
  place-items: center;
  max-width: 350px;
}

.therd-party-login {
  display: grid;
  place-items: center;
  width: 100%;
}

.therd-party-login > * {
  background-color: white;
  border-radius: 4px;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
  cursor: pointer;
}

.therd-party-login > *:hover {
  background-color: rgb(219, 219, 219);
}

.register-email {
  background-color: black;
  border-radius: 4px;
  color: white;
  width: 100%;
  margin: 1rem;
  padding: 1em;
  margin-bottom: 2rem;
}

form {
  place-self: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

form label {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 18px;
}

form input {
  margin-bottom: 1em;
  height: 35px;
  width: 100%;

  border-radius: 4px;
}

form input[type="submit"] {
  border: none;
  background-color: var(--secondery-color);
  color: black;
  font-weight: 500;
  height: 40;
  width: 150px;
}

.show-password {
  display: flex;
  justify-content: start;
  align-items: center;
}

.checkbox {
  width: 20px;
  margin-bottom: 0px;
}

@media screen and (min-width: 700px) {
  .create-account-container {
    grid-template-columns: 1fr 1fr;
  }
  .create-account-icon {
    display: block;
  }
}
