.content-header {
  font-family: "Roboto Slab", serif;
  color: var(--primary-text-color);
}

.section-header {
  width: 250px;
  max-width: 400px;
  color: var(--primary-text-color);
  margin-top: 2em;
  padding: 3px;
}

/* .create-account-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
} */

.therd-party-login > * {
  background-color: white;
  border-radius: 4px;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
  max-width: 350px;
  cursor: pointer;
}

.therd-party-login > *:hover {
  background-color: rgb(219, 219, 219);
}

.register-email {
  background-color: #474545;
  border-radius: 4px;
  color: white;
  max-width: 350px;
  padding: 1em;
  margin-bottom: 2rem;
}

form {
  place-self: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

form label {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 18px;
}

form input {
  /* color: var(--primary-text-color); */
  /* font-size: 18px; */
  margin-bottom: 1em;
  height: 35px;
  width: 300px;
  max-width: 300px;
  /* border: 2px solid var(--primary-color); */
  /* background-color: #292929; */
  border-radius: 4px;
}

form input[type="submit"] {
  border: none;
  background-color: var(--secondery-color);
  color: black;
  font-weight: 500;
  height: 40;
  width: 150px;
}

.create-account-icon {
  display: none;
  height: 225px;
  width: 250px;
  background-image: url("/images/create-account.png");
  background-size: cover;
}

@media screen and (min-width: 700px) {
  .create-account-container {
    grid-template-columns: 1fr 1fr;
  }
  .create-account-icon {
    display: block;
  }
}
