.game-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  margin: 1rem;
  place-items: center;
}

.filter-container {
  display: none;
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
}

select {
  margin: 1rem;
  background-color: var(--primary-color);
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}

select:hover {
  background-color: #00887a;
}

.price-filter-bnt,
.name-filter-bnt {
  height: 24px;
  margin: 1rem;
  padding: 0;
  width: 190px;
}

.asc::after {
  content: " Aa-Zz";
}

.desc::after {
  content: " Zz-Aa";
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  /* height: 400px; */
  background-color: black;
  color: white;
}

.short-description-wrapper a p {
  font-size: 13px;
  color: white;
}

.short-description-wrapper a p:hover {
  font-size: 20px;
}

.img-wrapper-link {
  height: 100%;
}

.game-img {
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center;
  cursor: pointer;
}

.game-img:hover {
  scale: 1.05;
}

.game-name-link {
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 0;
  color: white;
  margin: 10px;
}

.game-name-link:hover {
  scale: 1.05;
  text-decoration: underline;
}

p {
  font-size: 28px;
  margin: 10px;
}

/* button {
  background-color: var(--primary-color);
  border-radius: 4px;
  border: none;
  font-size: 18px;
  padding: 9px;
  margin: 10px;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: #00887a;
} */

@media screen and (min-width: 700px) {
  .game-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 850px) {
  .show-filter-options-btn {
    display: none;
  }
  .filter-container {
    display: block;
  }
  .filter-wrapper {
    flex-direction: row;
  }
}
@media screen and (min-width: 1000px) {
  .game-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
