.game-detail-container {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  color: white;
}
.img-wrapper {
  max-width: 560px;
}

.detail-img {
  background-size: cover;
  height: auto;
  width: 100%;
}

.game-detail-info-container {
  display: grid;
  max-width: 400px;
  gap: 1em;
}

.game-name-cart-button-container {
  display: flex;
  flex-direction: column;
}

.price {
  font-size: 1.5em;
}

p {
  line-height: 1.3;
}

.latest-games-container {
  width: 100%;
  max-width: 500px;
  color: white;
}

@media screen and (min-width: 600px) {
  .game-detail-container {
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
}
