section {
  padding: 1em;
}

.filter-container {
  color: black;
  display: none;
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
}

.filter-option {
  background: white;
  font-weight: 200;
  margin: 0.2rem;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  padding: 0.5em;
}

select:hover {
  background-color: #c8c8c8;
}

.price-filter-bnt:hover,
.name-filter-bnt:hover {
  background-color: #c8c8c8;
}

.asc::after {
  content: " Aa-Zz";
}

.desc::after {
  content: " Zz-Aa";
}

@media screen and (min-width: 850px) {
  .show-filter-options-btn {
    display: none;
  }
  .filter-container {
    display: block !important;
  }
  .filter-wrapper {
    flex-direction: row;
  }
}
