.home-section {
  max-width: 1200px;
  color: white;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 1em;
}

.home-section_img-container {
  min-width: 100px;
  aspect-ratio: 9 / 6;
  max-height: 460px;
  display: none;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cta-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.cta-container > * {
  margin: 0.9em 0;
}

.latest-games-container {
  width: 100%;
  max-width: 600px;
}

.featured-games__container {
  max-width: 900px;
}

@media screen and (min-width: 350px) {
  .section__header-container {
    font-size: 1em;
  }
  .cta-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 600px) {
  .section__header-container {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 600px) {
  .home-section_img-container {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  .featured-games__container {
    grid-template-columns: 1fr 1fr;
  }
}
