:root {
  --primary-color: #03dac6;
  --secondery-color: #c293fb;
  --primary-text-color: #ffffff;
  --secondary-text-color: #b1b1b1;
  --background-color: #292929;
}

.primary-color {
  background: var(--primary-color);
}
.secondary-color {
  background: var(--secondery-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1400px;
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr auto;
  background-color: var(--background-color);
}

button {
  background-color: var(--primary-color);
  border-radius: 4px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 0.5em;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: #00887a;
}

main {
  display: grid;
  place-items: center;
  gap: 9em;
  margin-top: 2em;
}

.content-header h1 {
  font-size: 30px;
  color: var(--primary-text-color);
  font-family: "Roboto", serif;
}

header {
  width: 100%;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 23px;
  background: black;
}

footer {
  background: black;
  width: 100%;
  padding: 2em;
  grid-row-start: 3;
  grid-row-end: 4;
}

.footer-container {
  padding: 2em;
  margin: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 4px;
}

footer h3 {
  color: #ffffff7e;
  font-size: 12px;
  font-weight: 400;
}

.footer-links {
  max-width: 160px;
}

.footer-links > * {
  color: #03dac6;
}

.nav-logo .logo-img {
  height: 45px;
}

.nav-search {
  display: flex;
  align-items: center;
}

#input-search {
  height: 27px;
  width: 100px;
  border-radius: 4px 0px 0px 4px;
  outline: none;
  border: none;
  padding: 7px;
  font-size: 16px;
}

.search-button {
  margin: 0;
  padding-left: 5px;
  padding-top: 2px;
  width: 33px;
  border-radius: 0px 4px 4px 0px;
  height: 27px;
  border: none;
  background-color: var(--primary-color);
}

.search-button i {
  color: black;
  font-size: 23px;
}

.fa-bars {
  color: var(--primary-color);
}

nav {
  padding: 17.5px 17.5px;
  position: absolute;
  top: 49px;
  right: 0px;
  background-color: black;

  display: none;
  z-index: 1000;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2em;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 14px;
  text-transform: uppercase;
}

nav ul li a:hover {
  font-weight: 600;
  font-size: 1rem;
}

.site-navigator {
  display: flex;
  margin: 5px;
  display: none;
}

.site-navigator > * {
  color: rgb(179, 179, 179);
  margin: 0.5em;
}

.gamehub-slogan-wrapper {
  text-align: center;
}

.gamehub-slogan {
  color: #9e9e9e;
  font-size: 1em;
  margin: 1em;
}

label i {
  color: var(--primary-color);
  cursor: pointer;
}

.form-message {
  background: rgba(0, 202, 0, 0.5);
  padding: 1rem;
  color: white;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  display: none;
}

.form-error {
  display: none;
  color: white;
  font-size: 15px;
  margin-top: 2px;
  background: red;
  text-align: center;
}

.spinner {
  border: 16px solid black;
  border-top: 16px solid var(--primary-color);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.mini-spinner {
  height: 50px;
  width: 50px;
  border: 8px solid black;
  border-top: 8px solid var(--primary-color);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 550px) {
  .site-navigator-github-slogan-wrapper {
    flex-direction: row;
  }
  .site-navigator {
    display: block;
  }
}
@media screen and (min-width: 600px) {
  .header-container label {
    justify-self: flex-end;
  }
}

@media screen and (min-width: 700px) {
  .header-container {
    padding-right: 25px;
    padding-left: 17px;
  }

  .search-button {
    background-color: var(--primary-color);
  }
  .footer-links {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: initial;
  }
  .footer-container {
    justify-content: space-around;
  }
}

@media screen and (min-width: 854px) {
  nav {
    padding: 0px;
    position: static;
    height: 27px;
    z-index: 100;
    display: block;
    width: 80%;
  }
  nav ul {
    flex-direction: row;
  }
  .header-container label {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  #input-search {
    width: 180px;
  }
  .footer-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  #input-search {
    width: 270px;
  }
}
