* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

header {
  z-index: 10;
  position: fixed;
  top: 0px;
  height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 6px;
}

header,
footer {
  width: 100vw;
  background-color: #000000;
  border: #03dac6 solid 1px;
  box-shadow: black 3px 3px 20px;
}

footer {
  position: relative;
  padding-top: 10px;
  height: 80px;
}

footer h3 {
  text-align: center;
  color: #ffffff7e;
  font-size: 16px;
  font-weight: 100;
}

.footer-links {
  position: absolute;
  right: 15px;
  bottom: 7.5px;
}

.footer-links > * {
  color: #03dac6;
}

.nav-logo .logo-img {
  height: 60px;
}

.nav-search {
  display: flex;
  align-items: center;
}

#input-search {
  height: 27px;
  width: 66px;
  border-radius: 4px 0px 0px 4px;
  outline: none;
  border: none;
  padding: 7px;
  font-size: 16px;
}

.search-button {
  width: 33px;
  border-radius: 0px 4px 4px 0px;
  height: 27px;
  border: none;
  background-color: white;
}

nav {
  padding: 17.5px 17.5px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: black;
  height: 50vh;
  width: 50%;
  transform: translateX(110%);
  transition: 0.3s ease-in;
}

nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #b1b1b1;
  font-size: 14px;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: white;
}

.nav-login-button {
  background-color: #03dac6;
  border: none;
  height: 27px;
  width: 100px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
}

.burger i {
  color: #03dac6;
  cursor: pointer;
}

.cart {
  display: none;
}

.cart a i {
  color: #03dac6;
}

.arrow {
  align-self: flex-end;
}

main {
  position: relative;
  width: 100vw;
}

.black-svg-background svg {
  position: absolute;
  display: none;
}

.home1-section {
  position: relative;
}

.home1-backround-img {
  position: absolute;
  width: 100%;
  height: 635px;
  background-image: url("/images/gamer-filter-w700.jpg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.home1-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 635px;
  width: 100%;
}

.header-one {
  margin-top: 95px;
}

.header-one .green-buy {
  color: #03dac6;
}

.header-one .purple-sell {
  color: #c293fb;
}

.sub-header-to .green-points {
  color: #03dac6;
}

.header-one h1 {
  font-family: "Roboto Slab", serif;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 63px;
}

.sub-header-to {
  color: white;
  font-size: 24px;
  font-weight: 200;
  display: none;
}

.cta-boxes {
  display: flex;
  flex-direction: column;
}

.cta-box-purple {
  margin-top: 20px;
  height: 137px;
  border: #c293fb solid 2px;
}

.cta-box-green {
  margin-bottom: 20px;
  height: 170px;
  border: #03dac6 solid 2px;
}

.cta-box-green,
.cta-box-purple {
  width: 215px;
  position: relative;
  padding-top: 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta-box-purple p,
.cta-box-green p {
  font-weight: normal;
  font-size: 12px;
  color: white;
  display: none;
}

.cta-box-green a {
  position: absolute;
  bottom: 20px;
}

.cta-box-green h2 {
  font-size: 24px;
  color: white;
}

.cta-box-purple h2 {
  font-size: 20px;
  color: white;
}

.cta-button-green {
  width: 195px;
  height: 42px;
  border: none;
  border-radius: 4px;
  background-color: #03dac6;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
}

.cta-box-purple a {
  position: absolute;
  bottom: 30px;
}

.cta-button-purple {
  width: 179px;
  height: 42px;
  border: none;
  border-radius: 4px;
  background-color: #c293fb;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
}

.home2-section {
  height: 400px;
  position: relative;
  width: 100%;
}

.home2-background-img {
  position: absolute;
  width: 100%;
  height: 400px;
  background-image: url("/images/pre-order-filter-w700.jpg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.home2-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home2-content-container h1 {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 21px;
  margin-top: 34px;
}

.pre-order-box {
  border: #03dac6 solid 2px;
  border-radius: 4px;
  width: 250px;
  height: 200px;
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.pre-order-box h2 {
  color: white;
  font-weight: bold;
}

.home2-content-container > p {
  font-size: 24px;
  margin-top: 25px;
  color: white;
  display: none;
}

.pre-order-button {
  width: 70%;
  height: 60px;
  border: none;
  border-radius: 4px;
  background-color: #03dac6;
  font-size: 24px;
  font-weight: 600;
}

@media screen and (min-width: 600px) {
  nav {
    transition: 0s;
  }
  .cart {
    display: block;
  }
  .burger {
    justify-self: flex-end;
  }
  .header-one h1 {
    letter-spacing: 4px;
  }
}

@media screen and (min-width: 700px) {
  body {
    width: 100vw;
  }
  header {
    padding-right: 25px;
    padding-left: 17px;
  }
  .burger {
    display: none;
  }
  nav {
    padding: 0px;
    position: initial;
    height: 27px;
    width: 45%;
    transform: translateX(0%);
  }
  nav ul {
    flex-direction: row;
  }
  .arrow {
    display: none;
  }
  .search-button {
    background-color: #03dac6;
  }
  .header-one h1 {
    letter-spacing: 6px;
  }
  .header-one h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .sub-header-to {
    display: inline-block;
  }
  .cta-boxes {
    align-items: center;
    flex-direction: row;
  }
  .cta-box-green,
  .cta-box-purple {
    height: 170px;
    margin: 25px;
  }
  .home2-content-container h1 {
    font-size: 32px;
  }
  .home2-content-container p {
    display: inline-block;
  }
  .footer-links {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: initial;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media screen and (min-width: 900px) {
  .home1-section {
    height: 690px;
  }
  .home2-section {
    height: 500px;
  }
  .home1-backround-img {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 1200px;
    height: 660px;
    background-image: url("/images/gamerV2-w900.jpg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
  .home2-background-img {
    left: 400px;
    width: 600px;
    height: 500px;
  }
  .home1-content-container,
  .home2-content-container {
    align-items: flex-start;
    margin-left: 160px;
  }
  nav {
    width: 33%;
  }
  .nav-search {
    margin-left: 30px;
    width: 33%;
  }
  #input-search {
    width: 180px;
  }
  .cta-boxes {
    margin-top: 40px;
  }

  .cta-box-purple,
  .cta-box-green {
    align-items: center;
    height: 300px;
    width: 250px;
    margin-top: 0px;
  }
  .cta-box-green h2,
  .cta-box-purple h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .cta-box-green p,
  .cta-box-purple p {
    display: inline-block;
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  nav {
    width: 25%;
  }
  .nav-search {
    width: 43%;
  }
  #input-search {
    width: 270px;
  }
}
