:root {
  --primary-color: #03dac6;
  --secondery-color: #c293fb;
  --primary-text-color: #ffffff;
  --secondary-text-color: #b1b1b1;
  --background-color: #292929;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  background-color: var(--primary-color);
  border-radius: 4px;
  border: none;
  font-size: 18px;
  height: 38px;
  padding: 9px;
  margin: 10px;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: #00887a;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  background-color: var(--background-color);
}

main {
  /* margin-top: 30px; */
  place-self: center;
}

.content-header {
  margin: 2em;
}

.content-header h1 {
  font-size: 30px;
  color: var(--primary-text-color);
  font-family: "Roboto", serif;
}

header,
footer {
  width: 100%;
  background-color: #000000;
  box-shadow: black 3px 3px 20px;
}

.header-container {
  margin: auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 23px;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
}

.footer-container {
  margin: auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 4px;
  max-width: 1400px;
}

footer h3 {
  color: #ffffff7e;
  font-size: 12px;
  font-weight: 400;
}

.footer-links {
  max-width: 160px;
}

.footer-links > * {
  color: #03dac6;
}

.nav-logo .logo-img {
  height: 45px;
}

.nav-search {
  display: flex;
  align-items: center;
}

#input-search {
  height: 27px;
  width: 66px;
  border-radius: 4px 0px 0px 4px;
  outline: none;
  border: none;
  padding: 7px;
  font-size: 16px;
}

.search-button {
  padding-left: 5px;
  padding-top: 2px;
  width: 33px;
  border-radius: 0px 4px 4px 0px;
  height: 27px;
  border: none;
  background-color: white;
}

.search-button i {
  color: black;
  font-size: 23px;
}

.fa-bars {
  color: var(--primary-color);
}

nav {
  padding: 17.5px 17.5px;
  position: absolute;
  top: 49px;
  right: 0px;
  background-color: black;
  height: 50vh;

  display: none;
  z-index: 1000;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

nav ul {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 14px;
  text-transform: uppercase;
}

nav ul li a:hover {
  font-weight: 600;
  font-size: 1rem;
}

.site-navigator {
  display: flex;
  margin: 5px;
  display: none;
}

.site-navigator a,
span {
  color: white;
  margin: 1px;
}

.site-navigator-github-slogan-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gamehub-slogan {
  color: #03dac6;
  margin: 5px;
}

label i {
  color: var(--primary-color);
  cursor: pointer;
}

.form-message {
  background: rgba(0, 202, 0, 0.5);
  padding: 1rem;
  color: white;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  display: none;
}

.form-error {
  display: none;
  color: white;
  font-size: 15px;
  margin-top: 2px;
  background: red;
  text-align: center;
}

@media screen and (min-width: 550px) {
  .site-navigator-github-slogan-wrapper {
    flex-direction: row;
  }
  .site-navigator {
    display: block;
  }
}
@media screen and (min-width: 600px) {
  /* .cart {
    display: block;
  } */
  .header-container label {
    justify-self: flex-end;
  }
}

@media screen and (min-width: 700px) {
  .header-container {
    padding-right: 25px;
    padding-left: 17px;
  }

  .search-button {
    background-color: var(--primary-color);
  }
  .footer-links {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: initial;
  }
  .footer-container {
    justify-content: space-around;
  }
}

@media screen and (min-width: 854px) {
  nav {
    padding: 0px;
    position: static;
    height: 27px;
    z-index: 100;
    display: block;
    width: 50%;
  }
  nav ul {
    flex-direction: row;
  }
  .header-container label {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  /* .nav-search {
    margin-left: 30px;
    width: 33%;
  } */
  #input-search {
    width: 180px;
  }
  .footer-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  /* nav {
    width: 25%;
  } */
  /* .nav-search {
    width: 43%;
  } */
  #input-search {
    width: 270px;
  }
}
